/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/
#root {
  max-width: 420px;
  height: 100%;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.appUi {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-image: url("./images/bg.png");
  background-color: #0da44e;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
.btn {
  /* background: #000;
  color: #fff;
  padding: 8px 15px; */
  text-decoration: none;
  text-align: center;
}
.homePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
  grid-gap: 2rem;
  padding: 2rem;
}
.homePage img {
  max-width: 95%;
}
.homePage .logo {
  width: 70%;
}
.homePage .sunLogologo {
  width: 80px;
}

.scanPage {
  /* display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  grid-gap: 2rem;
  height: 100%;
  width: 100%; */

  padding: 1rem;
  text-align: center;
}
.scanPage .turfproLogo {
  width: calc(100% - 60px);
}
.scanPage .header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 1rem;
}
.scanContainer {
  position: relative;
  width: 360px;
  height: 480px;
  background: #fff;
  border-radius: 30px;
  overflow: hidden;
  margin: 0 auto;
  /* width: 480px;
  height: 640px; */
}
@media only screen and (max-width: 360px) {
  .scanContainer {
    transform: scale(0.8);
    transform-origin: 25% top;
  }
}
#videoContainer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  /* width: 480px;
  height: 640px; */
}
#video {
  width: 100%;
  /* position: relative;
  width: 360px;
  height: 640px;
  display: block;
  margin: 0 auto; */
}
#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
}
.capturedImgContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 11;
  overflow: hidden;
}
.scanning:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(23, 147, 0, 0.6);
  z-index: 1;
}
.scanning:after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background: rgba(39, 249, 0, 1);
  top: 0;
  left: 0;
  z-index: 3;
  -webkit-animation: scan 0.5s linear alternate infinite;
  animation: scan 0.5s linear alternate infinite;
}
@-webkit-keyframes scan {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
@keyframes scan {
  from {
    top: 0;
  }
  to {
    top: 100%;
  }
}
.capturedImg {
  width: 100%;
  display: block;
}
.capturedImg.blur {
  filter: blur(1px);
}
.point {
  width: 104px;
  height: 110px;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.point-0 {
  width: 120px;
  height: 120px;
  background: url("images/germs.gif");
  transform: translate(-50%, -50%) scale(0.8) rotate(20deg);
}
.point-2 {
  background: url("images/germs.gif");
  transform: translate(-50%, -50%) scale(0.6) rotate(45deg);
}
.point-3 {
  background: url("images/germs.gif");
  transform: translate(-50%, -50%) scale(0.4) rotate(245deg);
}
.point-4 {
  background: url("images/germs.gif");
  transform: translate(-50%, -50%) scale(0.4) rotate(45deg);
}
.point-5 {
  background: url("images/germs.gif");
  transform: translate(-50%, -50%) scale(0.5) rotate(145deg);
}
.point-6 {
  background: url("images/germs.gif");
  transform: translate(-50%, -50%) scale(0.5) rotate(35deg);
}
.point-7 {
  background: url("images/germs.gif");
  transform: translate(-50%, -50%) scale(0.5) rotate(105deg);
}
.point-8 {
  background: url("images/germs.gif");
  transform: translate(-50%, -50%) scale(0.5) rotate(230deg);
}
.point-9 {
  background: url("images/germs.gif");
  transform: translate(-50%, -50%) scale(0.5) rotate(345deg);
}
.point-10 {
  background: url("images/germs.gif");
  transform: translate(-50%, -50%) scale(0.5) rotate(45deg);
}
.point-11 {
  background: url("images/germs.gif");
  transform: translate(-50%, -50%) scale(0.5) rotate(15deg);
}
.point-12 {
  background: url("images/germs.gif");
  transform: translate(-50%, -50%) scale(0.4) rotate(105deg);
}
.point-13 {
  background: url("images/germs.gif");
  transform: translate(-50%, -50%) scale(0.6) rotate(70deg);
}
.point-14 {
  background: url("images/germs.gif");
  transform: translate(-50%, -50%) scale(0.6) rotate(45deg);
}
.point-15 {
  background: url("images/germs.gif");
  transform: translate(-50%, -50%) scale(0.5) rotate(185deg);
}
.point-16 {
  background: url("images/germs.gif");
  transform: translate(-50%, -50%) scale(0.5) rotate(45deg);
}
.point-17 {
  background: url("images/germs.gif");
  transform: translate(-50%, -50%) scale(0.6) rotate(45deg);
}
.point-18 {
  background: url("images/germs.gif");
  transform: translate(-50%, -50%) scale(0.5) rotate(125deg);
}
.point-19 {
  background: url("images/germs.gif");
  transform: translate(-50%, -50%) scale(0.4) rotate(45deg);
}
.point-20 {
  background: url("images/germs.gif");
  transform: translate(-50%, -50%) scale(0.4);
}
.point-palm {
  background: url("images/germs.gif");
  transform: translate(-50%, -50%) scale(0.8);
}
.point-palm:after {
  content: "";
  background: url("images/germs.gif");
  transform: translate(-50%, -50%) scale(0.8) rotate(130deg);
  width: 104px;
  height: 110px;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
}
.point.point-palm {
  width: 200px;
  height: 200px;
  background-size: auto;
}
.backBtn {
  width: 50px;
  height: 50px;
  background: #f48431;
  border-radius: 50%;
  color: #fff;
  border: 0;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute;
  left: 0;
  top: 0; */
}
.scanBtn {
  background: transparent;
  border: 0;
  width: 121px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}
.cleanBtn {
  background: transparent;
  border: 0;
  width: 139px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}
.videoBorder {
  position: absolute;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  background: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 2px dashed #0da44e; */
  border: 2px dashed rgba(39, 249, 0, 1);
  z-index: 111;
}
.washHand {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: #fff;
  display: none;
}
.washHand.show {
  display: flex;
  z-index: 111;
}
.cleanHand {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: transparent;
  display: none;
}
.cleanHand img {
  width: 100%;
}
.cleanHand.show {
  display: flex;
  z-index: 111;
}
.desc {
  color: #fff;
  font-size: 10px;
}
.hero {
  color: #fff;
  text-align: center;
  max-width: 320px;
  margin: 1rem auto;
}
