* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100%;
}
